.newpassword-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.newpassword-page-container {
  display: flex;
  flex-grow: 1;
}

/* === Left Side Image === */
.newpassword-side-container {
  width: 50%;
  height: 100%;
  position: relative;
}

.newpassword-sidepic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* === Right Side Form === */
.newpassword-side-form {
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 50px 20px;
}

.newpassword-form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newpassword-logo {
  width: 140px;
  height: auto;
  margin: 0px 0 0.5rem 0;
}

.newpassword-heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #000;
}

.newpassword-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  max-width: 300px;
  margin: 10px auto 6px 0px;
}

.newpassword-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px auto;
}

.newpassword-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #8B5E3C;
  border-radius: 2px;
  font-size: 1rem;
  color: #333;
  outline: none;
  box-sizing: border-box;
}

.newpassword-input::placeholder {
  color: #bbb;
}

.newpassword-submit-button {
  width: 300px;
  padding: 12px;
  background-color: #8B5E3C;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.newpassword-submit-button:hover {
  background-color: #6A442B;
}

.newpassword-password-field {
  position: relative;
}

.newpassword-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  cursor: pointer;
  color: green;
  user-select: none;
}

.newpassword-error {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}
