.verification-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.verification-page-container {
  display: flex;
  flex-grow: 1;
}

/* === Left Side Image === */
.verification-side-container {
  width: 50%;
  height: 100%;
  position: relative;
}

.verification-sidepic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* === Right Side Form === */
.verification-side-form {
  width: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 30px 20px;
}

.verification-form-container {
  text-align: center;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verification-logo {
  width: 150px;
  height: auto;
  margin: 0px 0 0.5rem 0;
}

.verification-heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.verification-label {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  margin: 10px auto;
  width: 350px;
  text-align: left;
}

.verification-input-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px auto 15px auto;
}

.verification-otp-input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid #8B5E3C;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
}

/* Resend Section */
.verification-resend-text {
  font-size: 0.9rem;
  color: #333;
  margin-top: 0.5rem;
}

.verification-resend-link {
  margin-left: 5px;
  color: #4CAF50;
  text-decoration: none;
}

.verification-resend-link:hover {
  text-decoration: underline;
}

/* Submit Button */
.verification-submit-button {
  display: block;
  width: 300px;
  padding: 0.9rem 2rem;
  background-color: #8B5E3C;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1.5rem auto;
}

.verification-submit-button:hover {
  background-color: #6A442B;
}
