.headerstart {
  width: 100%;
  position: sticky;   
  top: 0;             
  z-index: 1000;     
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFBE6;
  color: black;
  padding: 0 2rem;
  height: 43px;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin-right: 1rem;
}

.home {
  color: black;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

.login {
  color: black;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.register {
  background-color: #8B4513;
  padding: 6px 12px;
  border-radius: 8px;
  color: white;
}
