@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Set Poppins as default font */
body {
  font-family: "Poppins", sans-serif;
}

/* Universal reset */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

html {
  scrollbar-width: none; /* Firefox */
}

body {
  overflow-y: scroll; /* Allow vertical scroll when needed */
}
